[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
drf-yasg = "*"
django-rest-swagger = "*"
django-cors-headers = "*"
django-structlog = "*"
django = "*"
gunicorn = "*"
psycopg2 = "*"
django-rest-framework = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.7"
